.navbar a{
    color:white
}

.navbar-brand:hover {
    color: pink;
}

.navbar-nav .nav-link:hover {
    color: pink;
}

.carousel-inner {
    height: 600px; 
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    position: absolute;
    top: 0;
    bottom: auto;
    background: rgba(0, 0, 0, 0.5); 

}

.col-sm-9{
    padding-left: 50px;
}

.col-sm-9 img{
    height: 300px;
    width: 400px;
}